#carousel-guard-photos.carousel.slide{ 'data-ride' => 'carousel' }
  %ol.carousel-indicators
    %li.active{data: { slide: { to: 0 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 1 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 2 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 3 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 4 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 5 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 6 }, target: "#carousel-guard-photos" }}
    %li{data: { slide: { to: 7 }, target: "#carousel-guard-photos" }}
  .carousel-inner{ role: 'listbox' }
    .item.active
      .fill{style: "background-image:url('#{image_url('mcg_1.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_2.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_3.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_4.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_5.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_6.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_7.jpg')}');"}
    .item
      .fill{style: "background-image:url('#{image_url('mcg_8.jpg')}');"}
  %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-guard-photos"}
    %span.icon-prev
  %a.right.carousel-control{"data-slide" => "next", href: "#carousel-guard-photos"}
    %span.icon-next
